* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #25738a;
    border-bottom: 1px solid white;
    position: relative;
    min-height: 60px;
    margin-right: 5%;
    margin-left: 5%;

}

a {
    text-decoration: none;
    color: #25738a;
    font-weight: 800;
}
button, a {
    outline: none;
}
li {
    list-style: none;
}

body {
    margin: 1rem;

}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.navbar-container {
    flex-grow: 1;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    padding-left: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: large;
    padding: 10px 15px;
    transition: background-color 0.3s, border-radius 0.3s;
}

.navbar ul li:hover {
    border: solid black 3px;
    border-radius: 1rem;
    cursor: pointer;
}

#logout-form {
    margin-left: 20px;
}
.logout-container {
    position: absolute;
    right: 10px; /* Position the logout button on the right */
}

#logout-form button {
    padding: 10px 15px;
    font-size: large;
    background-color: #b30021;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-form button:hover {
    background-color: red;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu .material-icons {
    font-size: 36px;
    color: black;
}

/* Mobile Navigation Overlay */
.mobile-nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Mobile Navigation */
.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 200px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.mobile-nav.open {
    transform: translateX(0);
}
.mobile-navbar{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
    height: 80%;
}
.mobile-navbar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: auto;
    align-items: center;
}

.mobile-navbar ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
    font-size: large;
    padding: 10px;
}

.mobile-navbar ul li:hover {
    background-color: #e9e9e9;
    border-radius: 1rem;
    cursor: pointer;
}

.mobile-upper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em ;
}
.mobile-upper-title{
    font-size: x-large;
    border-bottom: 3px solid black;
}
#mobile-logout-form {
    margin-top: auto;

}

#mobile-logout-form button {
    width: 100%;
    padding: 10px 15px;
    font-size: large;
    background-color: #b30021;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#mobile-logout-form button:hover {
    background-color: red;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f0f0f0;
}

.login-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.btn-login:hover {
    background-color: yellowgreen;
}




.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search-container form>* {
    padding: 10px;

}



.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.register-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

.register-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.register-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-register {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.btn-register:hover {
    background-color: yellowgreen;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

/*TABLE GEDEELTE WINDOWS */

.main_table {
    width: 90%; /* Ensure the main table container takes up full width */
    margin: 0;
    padding: 0;

}


table {
    width: 100%; /* Make sure the table itself takes up the full width */
    border-collapse: collapse; /* Ensure borders are not doubled */

}

.table__body {
    width: 100%; /* Ensures the table takes up the full width of its container */
    overflow-x: auto; /* Allows horizontal scrolling if the table is too wide */
    margin: 0 auto; /* Center the table if there is extra space */
    padding-bottom: 1rem; /* Add some padding at the bottom */
    border-radius: 1em;
}


tbody {
    max-height: calc(89% - .8rem);
    margin: .8rem auto;
}

td img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    vertical-align: middle;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1.2rem;
    text-align: center;
    font-size: large;

}

table thead {

    position: sticky;
    top: 0.1%;
    left: 0;
    ;

}

thead th {
    position: sticky;
    top: 0.1%;
    left: 0;
    background-color: #25738a;
    color: black;
    font-weight: 900;

}

thead th a {
    color: black;
    
}

tbody tr {
    background-color: white;
}

tbody tr:nth-child(even) {
    background:#25738a
}

tbody tr:hover{
    background-color: #112e36;
    color:white
}
tbody tr:nth-child(even):hover{
    background-color: #112e36;
    color:white
}

.yesmarried p {
    background-color: #86e49d;
    padding: .5rem 0;
    text-align: center;
    border-radius: 1rem;
    color: #006b21;

}

.notmarried p {
    background-color: #d893a3;
    padding: .5rem 0;
    text-align: center;
    border-radius: 1rem;
    color: #b30021;

}


/*FACTION GEDEELTE*/

.faction_box{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    align-items: center;
    gap: 2vh ;
}

.faction_box > * {
    color: black;
    font-weight: 900px;
    padding: 10px;
}
.container_faction:nth-child(1){
    background-color: #b30021;
}
.container_faction:nth-child(2){
    background-color: lightblue;
}
.container_faction:nth-child(3){
    background-color: lightgray;
}
.container_faction {
    border: solid black 1px;
    height: fit-content;
    width: 50vw;
    border-radius: 1rem;
    text-align: center;
}

.flag-faction{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container_faction ul li{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.container_faction img{
    height: 150px;
    border-radius: 1rem;
    border: black 3px solid;
}

.container_faction .faction-img{
    height: 200px;
    width: 50%;
    background-size: cover;

}



.person-class{
    margin: auto;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;

    

    
    height: 80vh;
    width: fit-content;
}

.data-split{
    display: flex;
    gap: 10px  ;
    justify-content: center;
    align-items: center;
    
}
.data-split .person-data-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person-class > *{
    font-size: larger;
}
.person-icon{
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.person-data{
    
    margin-top: 1rem;
    margin-left: .4rem;



}

.intro-data{
    font-size: larger;
}
.player-qoute {
    
    color: darkgrey;
}
.person-icon img{
    border-radius: 1rem;
    height: 100%;
}
.next-data .hobby-player-data li{
    margin-left: 1rem  ;
    list-style-type: disc;
}
.next-data img{
    width: 100px;
    height: 100%;

}


/*updateplayer.ejs*/
.update-player-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    background-color: #f0f0f0;
    row-gap: 1em;
}

.update-player-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

.update-player-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.update-player-form input[type="text"],
.update-player-form input[type="number"],
.update-player-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.update-player-form input[type="checkbox"] {
    margin-right: 10px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.form-buttons button,
.form-buttons a {
    flex: 1;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-change-data {
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-change-data:hover {
    background-color: greenyellow;
}

.btn-cancel {
    background-color: #b30021;
    color: #fff;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: red;
}


footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.footer-content p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #0073b1; /* LinkedIn color */
    font-size: 18px;
    transition: color 0.3s;
}

.social-links a i {
    margin-right: 5px;
}

.social-links a:hover {
    color: #005582; /* Darker LinkedIn color */
}

.social-links a:first-child {
    color: #333; /* GitHub color */
}

.social-links a:first-child:hover {
    color: #000; /* Darker GitHub color */
}

@media (max-width: 800px) {
    header {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        align-items: stretch;
    } .navbar-container {
        order: 1;
        width: 100%;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar ul li a {
        justify-content: center;
        width: 100%;
        padding: 10px;
    }

    .navbar-container {
        display: none;
    }

    .hamburger-menu {
        display: block; /* Show the hamburger menu on mobile */
        position: absolute;
        right: 10px;
    }

    .mobile-nav-overlay,
    .mobile-nav {
        display: flex;
    }


    #logout-form {
        order: 2;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 10px 0;
    }
    .logout-container{
        display: none;
    }

    #logout-form button {
        width: 90%;
        padding: 10px;
    }
    .table__body {
        max-height: calc(100vh - .8rem);
    }
    .faction_box{
       
        flex-direction: column;
    
    }
    .update-player-form {
        padding: 10px;
    }

    .back-button {
        top: 10px;
        left: 10px;
        padding: 8px 16px;
    }
    
    .container_faction {
        width: 80%;
    }
    .search-container form>* {
        padding: 5px;
    
    }
    *{
        font-size: medium;
    }

    .register-container {
        min-height: 70vh;
    }

    .register-form {
        padding: 10px;
    }

    .register-form input[type="email"],
    .register-form input[type="password"] {
        padding: 10px;
        font-size: 14px;
    }

    .btn-register {
        font-size: 14px;
    }
    .table__body {
        width: 100%; /* Ensure the table body takes up full width on mobile */
        box-sizing: border-box; /* Ensure padding doesn't cause overflow */
    }

    .main_table {
        width: 100%; /* Ensure the table container takes up full width on mobile */
        margin: 0 auto; /* Center it */
    }

    table {
        width: 100%; /* Make sure the table itself takes up the full width */
    }

 
}