
<header>
    <nav class="navbar">
        <ul>
            <li> <a href="index.ejs"><span class="material-symbols-outlined"> home </span> Home </a></li>
            <li> <span class="material-symbols-outlined"> person </span> Players</li>
            <li> <span class="material-symbols-outlined"> groups </span>Factions</li>
        </ul>
    </nav>

    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</header>

