<header>
    <nav class="navbar">
      <ul>
        <li> <a href="/"><span class="material-symbols-outlined"> home </span> Home</a></li>
        <li><a href="/factions"><span class="material-symbols-outlined"> groups </span>Factions</a></li>
      </ul>
    </nav>
  
    <div class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </header>